body {
    font-family: Arial, sans-serif;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  header img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 20px;
  }
  header h1 {
    margin: 0;
  }
  section {
    margin: 50px;
  }
  section h2 {
    margin-bottom: 10px;
  }

  section hr {
    border-style: double;
  }
